@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap");

/* font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url("./background.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.heading {
  margin: 3vw 0;
  font-size: 3vw;
  font-weight: bolder;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.box {
  text-align: center;
}

.box h1 {
  font-size: 5vw;
}

.box p {
  font-size: 1.5vw;
  font-weight: bolder;
}
