* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(3, 3, 5);
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.gallery {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card {
  position: absolute;
  border-radius: 3px;
  width: 200px;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.card:hover img {
  opacity: 0.5;
}

.card:nth-child(1) {
  right: 85%;
  top: 55%;
  background-color: #ffb6b9;
  height: 250px;
}

.card:nth-child(2) {
  right: 85%;
  top: 10%;
  background-color: #ffa07a;
  height: 250px;
}

.card:nth-child(3) {
  left: 65%;
  top: 15%;
  height: 250px;
  background-color: #ffdb58;
}

.card:nth-child(4) {
  right: 65%;
  top: 60%;
  height: 250px;
  background-color: #ffcb77;
}

.card:nth-child(5) {
  right: 65%;
  top: 20%;
  height: 150px;
  background-color: #a9dfbf;
}

.card:nth-child(6) {
  right: 5%;
  top: 65%;
  height: 250px;
  background-color: #73ab12;
}

.card:nth-child(7) {
  right: 25%;
  top: 70%;
  height: 150px;
  background-color: #5d4eff;
}

.card:nth-child(8) {
  left: 85%;
  top: 10%;
  height: 250px;
  background-color: #ffdb58;
}
